---
layout: default
---

<div class="home">
  <div class="left-bar"></div><!--left-bar-->
  <h1 class="page-heading">博文</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <a class="node" href="{{ site.baseurl }}{{ post.url }}"><span class="inner"></span>
        </a><!--node-->
        <span class="corner"></span>
        <div class="main">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2><!--文章标题-->
          {{ post.excerpt | append: "" | prepend: "  "}}<!--摘要-->
          <a class="read-more" href="{{ site.baseurl }}{{ post.url }}">阅读更多</a>
        </div><!--main-->
        <div class="footer">
          <span class="post-meta">{{ post.date | date: "%b %-d %Y" }}</span><!--文章信息-->
          {% if post.categories %}
            <span class="categories">
              {% for ca in post.categories %}
                <span>{{ ca | upcase }}</span>
              {% endfor %}
            </span>
          {% endif %}
        </div><!--footer-->
      </li>
    {% endfor %}
  </ul>
  <!-- 分页链接 -->
  <div class="pagination">
      <a href="{{ site.baseurl }}" class="first">首</a>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a href="{{ site.baseurl }}" class="previous">1</a>
        {% else  %}
          <a href="{{ site.baseurl }}/archives/page/{{ paginator.previous_page }}" class="previous">{{ paginator.previous_page }}</a>
        {% endif %}
      {% endif %}
      <!--previous-->
      {% if paginator.page == 1 %}
        <a href="{{ site.baseurl }}" class="current">1</a>
      {% else  %}
        <a href="{{ site.baseurl }}/archives/page/{{ paginator.page }}" class="current">{{ paginator.page }}</a>
      {% endif %}<!--next-->
      {% if paginator.next_page == paginator.total_pages %}
        <a href="{{ site.baseurl }}/archives/page/{{ paginator.next_page }}" class="next">{{ paginator.total_pages }}</a>
      {% elsif paginator.next_page < paginator.total_pages %}
        <a href="{{ site.baseurl }}/archives/page/{{ paginator.next_page }}" class="next">{{ paginator.next_page }}</a>
      {% endif %}
      <!--next-->
      <a href="{{ site.baseurl }}/archives/page/{{ paginator.total_pages }}" class="last">尾</a>
  </div><!--pagination-->
</div>
