---
layout: default
---

<div class="home">
  <div class="left-bar"></div><!--left-bar-->
  <h1 class="page-heading">博文</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <a class="node" href="{{ site.baseurl }}{{ post.url }}"><span class="inner"></span>
        </a><!--node-->
        <span class="corner"></span>
        <div class="main">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2><!--文章标题-->
          {{ post.excerpt | append: "" | prepend: "  "}}<!--摘要-->
          <a class="read-more" href="{{ site.baseurl }}{{ post.url }}">阅读更多</a>
        </div><!--main-->
        <div class="footer">
          <span class="post-meta">{{ post.date | date: "%b %-d %Y" }}</span><!--文章信息-->
          {% if post.categories %}
            <span class="categories">
              {% for ca in post.categories %}
                <span>{{ ca | upcase }}</span>
              {% endfor %}
            </span>
          {% endif %}
        </div><!--footer-->
      </li>
    {% endfor %}
  </ul>
  <!-- 分页链接 -->
  <div class="pagination">
      <a href="/" class="first">首</a>
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <a href="{{ site.baseurl }}/archives/page/{{ page }}" class="current">{{ page }}</a></li>
        {% elsif page == 1 %}
          <a href="/">{{ page }}</a>
        {% else %}
          <a href="{{ site.baseurl }}/archives/page/{{ page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}
      <!--next-->
      <a href="{{ site.baseurl }}/archives/page/{{ paginator.total_pages }}" class="last">尾</a>
  </div><!--pagination-->
</div>
