<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h3>标签</h3>
        <ul class="nav">
          {% for ca in site.tags limit:15 %}
            <li>{{ ca | first }}<span>{{ ca | last | size }}</span></li>
          {% endfor %}
        </ul>
      </div>

       <div class="footer-col footer-col-2">
        <h3>分类</h3>
        <ul class="nav">
          {% for ca in site.categories limit:8 %}
            <li>{{ ca | first }}<span>{{ ca | last | size }}</span></li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <h3>媒体</h3>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
        </ul>
      </div>

    </div>

  </div>

</footer>
