/*-----------------------
		style sheet
-----------------------*/


/*------- basic style -----*/

* {
  padding: 0px;
  margin: 0px; 
}

::selection {
  color: #fff;
  background-color: #5f5f5f; }

body {
  background-color: #eee;
  color: #454545;
  font-size: 14px;
  line-height: 1.68;
  font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI",  sans-serif; }

a:link, a:visited, a:hover, a:focus {
  text-decoration: none; }

a {
  transition: 500ms;
  color: #999; }

a:hover {
  color: #333; }

.site{
	width:90%;
	margin:20px auto;
}


/*---------- navigation -------*/

.navigation ul{

}
.navigation ul li{
	display: inline-block;
	padding: 5px 10px;
}


/*----- mind manager ------*/

.level1Indent { margin-left:  0em } 
.level2Indent { margin-left:  2em } 
.level3Indent { margin-left:  2em } 
.level4Indent { margin-left:  2em } 
.level5Indent { margin-left:  2em } 
.levelXIndent { margin-left:  12em } 
.level1Style { font-size: 13pt; font-weight: bold; margin-bottom: 0.5em; margin-left:  2em } 
.level2Style { font-size:  11pt; font-weight: bold; margin-top: 1em; margin-bottom: 0.5em } 
.level3Style { font-size:  10pt; font-weight: bold; margin-top: 1em; margin-bottom: 0.5em } 
.level4Style { font-size:  10pt; font-weight: bold; margin-top: 1em; margin-bottom: 0.5em } 
.level5Style { font-size:  10pt; font-weight: bold; margin-top: 1em; margin-bottom: 0.5em } 
.levelXStyle { font-size:  10pt; font-weight: bold; margin-top: 1em; margin-bottom: 0.5em } 
.notesStyle { font-size:  10pt; margin-bottom: 1em } 

.level2Style:before{
	content:"类型";
	background-color: #f9ef64;
	padding: 3px 5px;
	border-radius: 3px;
	margin-right: 10px;
}
.level3Style:before{
	content:"集团";
	background-color: #45c8e2;
	padding: 3px 5px;
	border-radius: 3px;
	margin-right: 10px;
}
.level4Style:before{
	content:"子公司";
	background-color: #a564fa;
	padding: 2px;
	
	margin-right: 10px;
}
.level4Style{
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgba(218,77,119,.2)), color-stop(0.3, rgba(217,20,79,.8)), color-stop(1, rgba(218,121,150,.2)) );
  	
}

.level4Style:hover{
  cursor:pointer;
  background-color:#e67eab;
  
}


/*-------- right nav --------*/

.right-nav{
	position:fixed;
	right: 10%;
	bottom: 20%;
	height: 300px;
	overflow: auto;
	background-color:          #fff;
	padding: 20px;
	opacity: 0.9;
}
.right-nav .wrapper{
	position: relative;
}
.right-nav .wrapper:before{
	position: absolute;
	content: "";
	bottom: 0px;
	left: 0px;
	height: 100%;
	width: 3px;
	background-color: #999;
}
.right-nav .wrapper a{
	display: block;
	position: relative;
	padding: 4px 6px;
}
.right-nav .wrapper a:before{
	position: absolute;
	content: "";
	left: -6px;
	bottom: 10px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #444;
	border:solid 2px #fff;
}
.right-nav .wrapper a:hover:before{
	background-color: #e32980;
}
.right-nav .wrapper .two:before{
	background-color: #f9ef64;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	left: -10px;
	bottom: 6px;
}
.right-nav .wrapper .three:before{
	background-color: #45c8e2;
	width: 14px;
	height: 14px;
	border-radius: 14px;
	left: -8px;
	bottom: 8px;
}


/*----- back to top or bottom ----*/

.btn{
	position:fixed;
	right: 5%;
	width: 40px;
	height: 40px;
	background-color: #666;
	color: #fff;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
}
.btn:hover{
	cursor:pointer;
	background-color: #444;
}
.btn:before{
	margin-top: 5px;
}
#back-to-top{
	bottom: 130px;
}
#btn{
	bottom: 80px;
}
#back-to-bottom{
	bottom: 30px;
}
